server:
  servlet:
    context-path: /api
    session:
      timeout: 15m
  management:
    endpoint:
      health:
        show-details: when_authorized
        roles: [ 'ADMIN' ]
    endpoints:
      web:
        discovery:
          enabled: false
        exposure:
          include: [ "environment", "health", "info" ]
      access:
        default: read_only
    metrics:
      tags:
        application: ${spring.application.name}
        environment: ${app.environment.name}
        version: @project.version@
spring:
  datasource:
    tomcat:
      max-wait: 2000
      max-active: 100
      initial-size: 10
      default-auto-commit: false
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true
    open-in-view: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml
    drop-first: false
  sql:
    init:
      platform: postgresql