<!--
  ~ Copyright (c) 2019. 42 bv (www.42.nl). All rights reserved.
  -->

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d{dd-MM-yyyy HH:mm:ss.SSS}) %highlight(%-5p) %yellow([%-10.10t]) %green(%60.60c:%-3L) %m%n</pattern>
            <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="liquibase.executor.jvm.JdbcExecutor" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="liquibase.changelog.ChangeSet" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.hibernate.SQL" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework.web" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="nl.mdb.webshop" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Enable this for logging the endpoint annotation errors -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <springProfile name="unit-test">
        <root level="error">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="nl.mdb.webshop" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>

</configuration>
